/* StatsGrid.css */

.green-grid {
    background-color: lightgreen; /* Green background */
  }
  
  .yellow-grid {
    background-color: lightyellow; /* Yellow background */
  }
  
  .red-grid {
    background-color: lightcoral; /* Red background */
  }
  